:root {
  --orange: #ff8831;
  --pink: #ff3e7a;
  --purple: #42249a;
  --lightPurple: #576bc4;
  --navHeight: 5rem;
  --textColor: #4c4a58;
  --bodyPadding: 15vw;
}

@media (max-width: 1440px) {
  :root {
    --bodyPadding: 12vw;
  }
}

@media (max-width: 768px) {
  :root {
    --bodyPadding: 5vw;
  }
}
