@keyframes scroll-animation {
  0% {
    top: 12px;
    opacity: 1;
    width: 4px;
    height: 4px;
  }

  20% {
    top: 12px;
    opacity: 1;
    transform: translate(-50%, -4px);
  }

  100% {
    top: 12px;
    opacity: 0;
    width: 2px;
    height: 2px;
    transform: translate(-50%, 15px);
  }
}

@keyframes appear-from-left {
  0% {
    transform: translateX(-100%);
    position: relative;
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes appear-from-left_after {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(101%);
  }
}

@keyframes appear-from-right {
  0% {
    transform: translateX(100%);
    position: relative;
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes appear-from-right_after {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  55% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-101%);
  }
}

@keyframes fadeinShare {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 50px));
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleX {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
