* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 var(--bodyPadding);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

p {
  color: var(--textColor);
}
